@font-face {
    font-family: "Aesthet Nova Black";
    src: url(/src/fonts/AesthetNova.ttf) format("truetype");
}
@font-face {
    font-family: "New Spirit Light";
    src: url(/src/fonts/NewSpiritLight.otf) format("opentype");
}
@font-face {
    font-family: "New Spirit Bold";
    src: url(/src/fonts/NewSpiritBold.otf) format("opentype");
    font-weight: bold;
}
:root {
  --bg-color: #000000;
}


html,
body {
  padding: 2px;
  padding-bottom: 300px;
  height: 100%;
  background-color: var(--bg-color);
  color: black;
  font-family: "New Spirit Light";
  overflow-x: hidden;
  width: 1200px;
  margin: auto;
}

.logo {
  display: block;
  min-height: 132px;
  font-family: "Aesthet Nova Black";
}

.title {
  text-align: center;
  
}

.container {
  display: block;
  width: 1200px;
  position: absolute;
  overflow: auto;
  min-height: 1200px;
  max-height: 1200px;
  border-radius: 5px;
  border-style: none;
  background-color: white;
  margin: auto;
  z-index: 2;
}

.head {
  width: 100%;
  padding: 0;
  background-color: #808080;
}

.navbar {
  background-color: #bfbfbf;
  font-family: "New Spirit Bold";
  overflow: auto;
  padding: 6px;
}

.navbar a {
  float: left;
  color: #000000;
  text-decoration: none;
  font-size: 12;
  width: 25%;
  text-align: center;
}

h1 {
  font-size: 18pt;
  font-family: "New Spirit Bold";
}

p1 {
  font-size: 13pt;
}
